.grid {max-width: 267px;margin: 0 auto;list-style: none;text-align: center;border: 1px solid #fff;border-radius: 5px;margin: 10px auto;}

.grid li {
display: inline-block;
margin: 0;
text-align: left;
position: relative;
}

.grid figure {
margin: 0;
position: relative;
}

.grid figure img {
max-width: 100%;
display: block;
position: relative;
}

.grid figcaption.obj1{position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #f6f000;color: #000;}
.grid figcaption.obj2{position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #c7f300;color: #000;font-size: 14px;}
.grid figcaption.obj3{position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #fa9400;color: #000;font-size: 14px;font-size: 14px;}
.grid figcaption.obj4{font-size: 14px;position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #c2e5fa;color: #000;}
.grid figcaption.obj5{font-size: 14px;position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #fdb3d5;color: #000;}
.grid figcaption.obj6{font-size: 14px;position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #f9482e;color: #000;}
.grid figcaption.obj7{font-size: 14px;position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #6fda35;color: #000;}
.grid figcaption.obj8{font-size: 14px;position: absolute;top: 0;left: 0;padding: 10px;height: 100%;background: #00a3e7;color: #000;}

.grid figcaption h3 {
margin: 0;
padding: 0;
color: #000;
font-weight: 700;
}

.grid figcaption span:before {
content: 'by ';
}

.grid figcaption a {
text-align: center;
padding: 5px 10px;
border-radius: 2px;
display: inline-block;
background: #ed4e6e;
color: #fff;
}

/* Individual Caption Styles */
/* Caption Style 4 */
.cs-style-4 div {-webkit-perspective: 1700px;-moz-perspective: 1700px;perspective: 1700px;-webkit-perspective-origin: 0 50%;-moz-perspective-origin: 0 50%;perspective-origin: 0 50%;max-width: 266px;}

div {}

.cs-style-4 figure {
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.cs-style-4 figure > div {overflow: hidden;}

.cs-style-4 figure img {
-webkit-transition: -webkit-transform 0.4s;
-moz-transition: -moz-transform 0.4s;
transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {-webkit-transform: translateX(25%);-moz-transform: translateX(25%);-ms-transform: translateX(25%);transform: translateX(25%);}

.cs-style-4 figcaption {
height: 100%;
width: 100%;
opacity: 0;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform-origin: 0 0;
-moz-transform-origin: 0 0;
transform-origin: 0 0;
-webkit-transform: rotateY(-90deg);
-moz-transform: rotateY(-90deg);
transform: rotateY(-90deg);
-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
opacity: 1;
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
transform: rotateY(0deg);
-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
-moz-transition: -moz-transform 0.4s, opacity 0.1s;
transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
position: absolute;
bottom: 20px;
right: 20px;
}