html,
body {
width: 100%;
height: 100%;
}
body {
font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.position-r{position: relative;}
.position-a{position: absolute;}
.m-auto{
margin: auto;
}
.mx-w-m-a{
max-width: 153em;
min-width: 320px;
margin: 0px auto;
}
.w-34{
width: 34px;
}
.logo{
left: 50%;
margin-left: -20rem;
width: 40rem;
}
.m-0{
margin: 0px;
}
.p-0{
padding:0px;
}
.text-vertical-center {
display: table-cell;
text-align: center;
vertical-align: middle;
}

.text-vertical-center h1 {
margin: 0;
padding: 0;
font-size: 4.5em;
font-weight: 700;
}
.bg-branco-bord-radius{
border: 5px solid #fff;
border-radius: 10px;
}
.bg-verde{
background:#125028;
}
.text-verde{
color: #125028;
}
.text-branco{
color: #fff;
}
/* Custom Button Styles */

.btn-dark {
border-radius: 0;
color: #fff;
background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
color: #fff;
background-color: rgba(0,0,0,0.7);
}

.btn-light {
border-radius: 0;
color: #333;
background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
color: #333;
background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
z-index: 1000;
position: fixed;
right: 0;
width: 250px;
height: 100%;
transform: translateX(250px);
overflow-y: auto;
background: #222;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
margin: 0;
padding: 0;
list-style: none;
}

.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999;
}

.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 55px;
font-size: 18px;
line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

#menu-toggle {
z-index: 1;
position: fixed;
top: 0;
right: 0;
}

#sidebar-wrapper.active {
right: 250px;
width: 250px;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

.toggle {
margin: 5px 5px 0 0;
}

/* Header */
.cabecalho-index{
height: 152px;
position: relative;
background: url(../img/img-cabecalho.jpg)no-repeat center center;
background-size: cover;
/*color: chartreuse;*/
}
.cabecalho-news{
height: 152px;
position: relative;
background: url(../img/img-cabecalho-news.jpg)no-repeat center center;
background-size: cover;
/*color: chartreuse;*/
}
.header2 {
display: table;
position: relative;
width: 100%;
min-height: 200px;
}
.header {
display: table;
position: relative;
width: 100%;
height: 100%;
}
.p-t-2{padding-top: 16px}
.p-b-2{padding-bottom: 16px}
/* About */

.post {
padding: 50px 0;
}
.about {
padding: 20px 0;
}
.navbar{z-index: 9999;}
.navbar-default .navbar-nav>li>a {
color: #125028;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #add14f;
background-color: transparent;
}
/* Services */

.services {
padding: 50px 0;
}
.titles-text-branco{
color: #fff;
text-shadow: 0 0 10px black;
font-weight: 700;
}
.titles-text-cinza{
color: #808080;
font-weight: 700;
}

.service-item {
margin-bottom: 30px;
}

/* Callout */

.callout {
display: table;
width: 100%;
height: 400px;
color: #fff;
background: url(../img/callout.jpg) no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}
.servicos{}

/* Portfolio */

.portfolio {
padding: 50px 0;
}

.portfolio-item {
margin-bottom: 30px;
}

.img-portfolio {
margin: 0 auto;
}

.img-portfolio:hover {
opacity: 0.8;
}

/* Call to Action */

.objetivos-milenio {
padding: 50px 0;
}

.objetivos-milenio .btn {
margin: 10px;
}

/* Map */

.map {
height: 500px;
}

@media(max-width:768px) {
.map {
height: 75%;
}
}

.map iframe {
pointer-events: none;
}

/* Footer */
.top-footer{
height: 85px;
background: url('../img/bg-centro.fw.png') bottom;
background-repeat-y:no-repeat;
}
footer {
background-color: #695221;
color: white;
padding: 15px;
}
.rodape{
background: url('../img/bg-rodape.jpg');
}
#to-top {
display: none;
position: fixed;
bottom: 5px;
right: 5px;
}
/*----------------------------------------------------------------------------*/
/*NEWS*/
.conteudo-noticia {
border-top: 0.063rem solid #E8E8E8;
padding: 1rem 0 .688rem;
position: relative;
z-index: auto;
}
.noticia img {
width: 100%;
max-width: none;
}
.foto-texto{font-size: 12px;}
.foto-assinatura{font-size: 12px;}
.space-0{margin-bottom:0px}.space-top-0{margin-top:0px}.space-1{margin-bottom:6px}.space-top-1{margin-top:6px}.space-2{margin-bottom:12px}.space-top-2{margin-top:12px}.space-3{margin-bottom:18px}.space-top-3{margin-top:18px}.space-4{margin-bottom:24px}.space-top-4{margin-top:24px}.space-5{margin-bottom:30px}.space-top-5{margin-top:30px}.space-6{margin-bottom:36px}.space-top-6{margin-top:36px}.space-7{margin-bottom:42px}.space-top-7{margin-top:42px}.space-8{margin-bottom:48px}.space-top-8{margin-top:48px}.border-right{border-right: 1px solid gray;}
@media (max-width: 767px){.border-right-sm-0{border: 0px}.space-sm-0{margin-bottom:0px}.space-top-sm-0{margin-top:0px}.space-sm-1{margin-bottom:6px}.space-top-sm-1{margin-top:6px}.space-sm-2{margin-bottom:12px}.space-top-sm-2{margin-top:12px}.space-sm-3{margin-bottom:18px}.space-top-sm-3{margin-top:18px}.space-sm-4{margin-bottom:24px}.space-top-sm-4{margin-top:24px}.space-sm-5{margin-bottom:30px}.space-top-sm-5{margin-top:30px}.space-sm-6{margin-bottom:36px}.space-top-sm-6{margin-top:36px}.space-sm-7{margin-bottom:42px}.space-top-sm-7{margin-top:42px}.space-sm-8{margin-bottom:48px}.space-top-sm-8{margin-top:48px}}
@media (min-width: 768px) and (max-width: 1099px){.float-r-md{float: right;}.space-md-0{margin-bottom:0px}.space-top-md-0{margin-top:0px}.space-md-1{margin-bottom:6px}.space-top-md-1{margin-top:6px}.space-md-2{margin-bottom:12px}.space-top-md-2{margin-top:12px}.space-md-3{margin-bottom:18px}.space-top-md-3{margin-top:18px}.space-md-4{margin-bottom:24px}.space-top-md-4{margin-top:24px}.space-md-5{margin-bottom:30px}.space-top-md-5{margin-top:30px}.space-md-6{margin-bottom:36px}.space-top-md-6{margin-top:36px}.space-md-7{margin-bottom:42px}.space-top-md-7{margin-top:42px}.space-md-8{margin-bottom:48px}.space-top-md-8{margin-top:48px}}
@media (min-width: 1100px){.float-r-lg{ float:right;}.space-lg-0{margin-bottom:0px}.space-top-lg-0{margin-top:0px}.space-lg-1{margin-bottom:6px}.space-top-lg-1{margin-top:6px}.space-lg-2{margin-bottom:12px}.space-top-lg-2{margin-top:12px}.space-lg-3{margin-bottom:18px}.space-top-lg-3{margin-top:18px}.space-lg-4{margin-bottom:24px}.space-top-lg-4{margin-top:24px}.space-lg-5{margin-bottom:30px}.space-top-lg-5{margin-top:30px}.space-lg-6{margin-bottom:36px}.space-top-lg-6{margin-top:36px}.space-lg-7{margin-bottom:42px}.space-top-lg-7{margin-top:42px}.space-lg-8{margin-bottom:48px}.space-top-lg-8{margin-top:48px}}
@media (max-width: 420px){.logo{left: 50%;margin-left: -15rem;width: 30rem;
}}
@media (min-width: 767px){
.bg-a-atuacao{
background: url(../img/index/bg-area-atuacao.jpg) no-repeat center center fixed;
background-size: cover; /*Css padrÃƒÆ’Ã‚Â£o*/
background-attachment: fixed;
-webkit-background-size: cover; /*Css safari e chrome*/
-moz-background-size: cover; /*Css firefox*/
-ms-background-size: cover; /*Css IE nÃƒÆ’Ã‚Â£o use mer#^@%#*/
-o-background-size: cover; /*Css Opera*/
}
.bg-obj{
background: url(../img/index/bg-8objs.jpg) no-repeat center center fixed;
background-size: cover; /*Css padrÃƒÆ’Ã‚Â£o*/
background-attachment: fixed;
-webkit-background-size: cover; /*Css safari e chrome*/
-moz-background-size: cover; /*Css firefox*/
-ms-background-size: cover; /*Css IE nÃƒÆ’Ã‚Â£o use mer#^@%#*/
-o-background-size: cover; /*Css Opera*/
}    
}
@media (max-width: 767px){
.bg-a-atuacao{
background: #125028;
}    
.bg-obj{
background: #125028;
}    
}
/*--------------------------------------------------------------*/
/*AFFIX*/
.affix{
position: fixed;
top: 0px;
left: 0px;
z-index: 999;
width: 100%;
border: 0px;
background: rgba(77, 73, 72, 0.65);
}
.affix #myNavbar .index{
display: block;
}
@media (min-width: 1100px){
.affix #myNavbar .ul-navbar{
float: right;
}.float-r-lg{ float:right;}}
@media (min-width: 768px) and (max-width: 1099px){
.affix #myNavbar .ul-navbar{
float: right;
} 
} 
#myNavbar .index{
display: none;}
.affix #myNavbar .navbar-nav>li>a {
color: #ffffff;}
.affix #myNavbar .navbar-nav>li>a:hover{
color: #add14f;}

/*--------------------------------------------------------------*/
/*carrousel*/
#myCarousel .carousel-caption {
left:0;
right:0;
bottom:0;
text-align:left;
padding:10px;
background:rgba(0,0,0,0.6);
text-shadow:none;
}

#myCarousel .list-group {
position:absolute;
top:0;
left:0;
}
#myCarousel .list-group-item {
border-radius:0px;
cursor:pointer;
}
#myCarousel .list-group .active {
background-color:#eee;	
}

@media (min-width: 992px) { 
#myCarousel {padding-left:33.3333%;}
#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
.carousel-caption p,
#myCarousel .list-group {display:none;} 
}
/*--------------------------------------------------------------*/
@media (max-width: 767px) { 
#parallaxBar{
background: url('../img/index/bg-cel.jpg') 50% -1879px fixed;
background-repeat-y: no-repeat;
position: relative; 
}
}

/*---------------------------------------------------------------------*/
.board{
margin: 0px auto;
}
.board .nav-tabs {
position: relative;
/* border-bottom: 0; */
/* width: 80%; */
margin: 40px auto;
margin-bottom: 0;
box-sizing: border-box;

}

.board > div.board-inner{/* background-size: 30%; */}

p.narrow{
width: 60%;
margin: 10px auto;
}

.liner{
height: 2px;
background: #ddd;
position: absolute;
width: 80%;
margin: 0 auto;
left: 0;
right: 0;
top: 50%;
z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #555555;
cursor: default;
/* background-color: #ffffff; */
border: 0;
border-bottom-color: transparent;
}

span.round-tabs{
width: 70px;
height: 70px;
line-height: 70px;
display: inline-block;
border-radius: 100px;
background: white;
z-index: 2;
position: absolute;
left: 0;
text-align: center;
font-size: 25px;
}

span.round-tabs.one{
color: #22c222;border: 2px solid #22c222;
}

li.active span.round-tabs.one{
background: #fff !important;
border: 2px solid #ddd;
color: rgb(34, 194, 34);
}

span.round-tabs.two{
color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
background: #fff !important;
border: 2px solid #ddd;
color: #febe29;
}

span.round-tabs.three{
color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
background: #fff !important;
border: 2px solid #ddd;
color: #3e5e9a;
}

span.round-tabs.four{
color: #c23a27;border: 2px solid #c23a27;
}

li.active span.round-tabs.four{
background: #fff !important;
border: 2px solid #ddd;
color: #c23a27;
}

span.round-tabs.five{
color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
background: #fff !important;
border: 2px solid #ddd;
color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
background: #fafafa;
}
.nav-tabs > li {
width: 25%;
}
/*li.active:before {
content: " ";
position: absolute;
left: 45%;
opacity:0;
margin: 0 auto;
bottom: -2px;
border: 10px solid transparent;
border-bottom-color: #fff;
z-index: 1;
transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
content: " ";
position: absolute;
left: 45%;
opacity:0;
margin: 0 auto;
bottom: 0px;
border: 5px solid transparent;
border-bottom-color: #ddd;
transition:0.1s ease-in-out;

}
.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 45%;
opacity:1;
margin: 0 auto;
bottom: 0px;
border: 10px solid transparent;
border-bottom-color: #ddd;

}
.nav-tabs > li a{
width: 70px;
height: 70px;
margin: 20px auto;
border-radius: 100%;
padding: 0;
}

.nav-tabs > li a:hover{
background: transparent;
}

.tab-content{
}
.tab-pane{
position: relative;
}
.tab-content .head{
font-family: 'Roboto Condensed', sans-serif;
font-size: 25px;
text-transform: uppercase;
padding-bottom: 10px;
}
.btn-outline-rounded{
padding: 10px 40px;
margin: 20px 0;
border: 2px solid transparent;
border-radius: 25px;
}

.btn.green{
background-color:#5cb85c;
/*border: 2px solid #5cb85c;*/
color: #ffffff;
}



@media( max-width : 585px ){

.board {
width: 90%;
height:auto !important;
}
span.round-tabs {
font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
}
.tab-content .head{
font-size:20px;
}
.nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
padding:12px 20px;
}
}
